["^ ","~:users",["^ ","~i2",["^ ","~:id",2,"~:login","ira","~:password","123","~:role","admin"]],"~:projects",["^ ","~i1",["^ ","~:title","first project","~:description","First project description","~:author","ira","~:tickets",["~#set",[1]],"^0",["^:",["ira"]]],"~i2",["^ ","^6","Second Project","^7","Second Project description","^8","ira","^9",["^:",[]],"^0",["^:",["ira"]]]],"^9",["^ ","~i1",["^ ","^7","","~:creator",2,"~:prior","~:0","~:type","~:0","~:project",1,"~:status","~:0","^1",1,"~:subj","First Ticket","~:assignee",2]],"~:ids",["^ ","~:l-u-id",2,"~:l-p-id",2,"~:l-t-id",1]]